.uvc-accordion {
  &-pannel {
    opacity: 0;
    transition: .2s ease-in-out;
    visibility: collapse;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }

  &-button {
    

    &--active {
      
    }
  }
}

.uvc-accordion {
  &-pannel {
    &--active {
      background: green;
    }
  }

  &-button {
    &--active {
      background: red;
    }
  }
}